@charset "utf-8";
/* CSS Document */
section{
	direction:rtl;}
.reportage_head{
text-align:right;
background: -webkit-linear-gradient(bottom ,#C7C7C7,#fff);
max-width:70%;
max-height:1em;

padding:0.2em 1em 2em 0em;

margin:0.2em;
margin-top:1em;
border-bottom:outset #000346;
}
.reportage_one{
	background:#F7F7F7;
	max-width:68.5%;
	margin:0.2em;
	margin-top:2em;
	padding:1em;
	font-weight:500;
	}
.reportage_input{
	margin:0.5em;
	font-size:1.2em;
	font-weight:bold;
	}
.reportage_bottun{
	 background-color:#ABACB5;
    border-radius:0.2em;
    color: white;
    padding: 0.2em 0.5em 0.2em 1em;
    text-align: center;
    font-size: 1em;
	margin:2em;}
	#reportage_result{
		display:none;
		background-color:#F7F7F7;
		width:68.5%;
		padding:1em;
		margin-right:0.2em;}
		#reportage_result1{
		display:none;
		background-color:#F7F7F7;
		width:68.5%;
		padding:1em;
		margin-right:0.2em;}
		#reportage_result2{
		display:none;
		background-color:#F7F7F7;
		width:68.5%;
		padding:1em;
		margin-right:0.2em;}
		#reportage_result ul{list-style-type:none;
	}
	#reportage_result1 ul{list-style-type:none;
	}
	#reportage_result2 ul{list-style-type:none;
	}
		.myProgress {

    width: 70%;
    height: 30px;
    background-color: grey;
}
#myBar {
 
  
    height: 100%;
    background-color: green;
}
		
		
	